* {
  margin: 0px;
  padding: 0px;
}

html {
  background-image: url(/Resources/home-img.jpeg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  margin-left: 3%;
  margin-top: 1%;
  text-align: center;
  word-spacing: 3em;
}

#logo-image-section {
  display: inline-block;
}

#nav-section {
  display: inline-block;
  vertical-align: 4vh;
  word-spacing: 0em;
}

li {
  display: inline-block;
  color: white;
  font-size: 100%;
  justify-content: space-around;
  padding: 5px;
}

li:hover {
  color: #d3ad7f;
  font-size: 1.1em;
  cursor: pointer;
}

#main-heading {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  word-spacing: 8px;
}

main {
  margin-top: 40px;
}